<html lang="zh-hans">
<head>
  <meta charset="utf-8">
  <title>ArtPress</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script type="javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
<!--主内容区域-->
<div class="main-content">

  <div class="index-common-content">
    <img src="/static/images/card2.1.jpg" class="image-border">
    <img src="/static/images/card2.1.jpg" class="image-border">
    <img src="/static/images/card2.1.jpg" class="image-border">
    <img src="/static/images/card2.1.jpg" class="image-border">
    <img src="/static/images/card2.1.jpg" class="image-border">
    <img src="/static/images/card2.1.jpg" class="image-border">

    <div class="image-full-width">
      <img src="/static/images/card.jpg" class="">
    </div>
  </div>

  <!--各式导航栏 -->
  <div class="floatsearch" id="#search-div">
    <input type="text">
  </div>
  <div class="index-floatmenu typo-font">
    <ul class="left-floatmenu">
      <h1 class="title">
        Hello, <br>
        Artpress!
      </h1>
      <li class="left-floatmenu-item">
        <a href="" class="">
          Search
        </a>
      </li>
      <li class="left-floatmenu-item">
        <a href="">Artist</a>
      </li>
      <ul>
        <li><a href="">Hateful_Carre1</a></li>
        <li><a href="">Ican 1v9</a></li>
        <li><a href="">Luo123</a></li>
        <li><a href="">Mikifuns</a></li>
      </ul>
      <li class="left-floatmenu-item"><a href="">Tags</a></li>
      <li class="left-floatmenu-item"><a href="">About</a></li>
    </ul>
    <div class="right-floatmenu">
      <ul>
        <li>右导航栏1</li>
        <li>右导航栏2</li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
