<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>ArtPress</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="javascript" src="static/js/jquery.min.js"></script>
</head>
<body>
<!--主内容区域-->
<div class="main-content">

    <div class="index-common-content">
        <img src="/static/images/card2.1.jpg" class="image-border">
        <img src="/static/images/card2.1.jpg" class="image-border">
        <img src="/static/images/card2.1.jpg" class="image-border">
        <img src="/static/images/card2.1.jpg" class="image-border">
        <img src="/static/images/card2.1.jpg" class="image-border">
        <img src="/static/images/card2.1.jpg" class="image-border">
    </div>
<!--各式导航栏 -->
    <div class="floatsearch" id="#search-div">
        <input type="text">
    </div>
    <div class="index-floatmenu">
        <ul class="left-floatmenu">
            <li><img src="../static/images/logo-full.svg"></li>
            <li class="left-floatmenu-item"><a href="">搜索</a></li>
            <li class="left-floatmenu-item"><a href="">导航栏1</a></li>
            <li class="left-floatmenu-item"><a href="">导航栏2</a></li>
            <li class="left-floatmenu-item"><a href="">导航栏3</a></li>
        </ul>
        <div>
            <ul>
                <li>右导航栏1</li>
                <li>右导航栏2</li>
            </ul>
        </div>
        <div>
            <input type="button">
        </div>
    </div>
</div>
</body>
</html>
