<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ArtPress</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="left-menubar">
        <ul>
            <li><img src=""></li>
            <li><input type="text" id="search"></li>
            <li>导航栏1</li>
            <li>导航栏2</li>
            <li>导航栏3</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>右导航栏1</li>
            <li>右导航栏2</li>
        </ul>
    </div>
    <div>
        <input type="button">
    </div>
</body>
</html>