
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>

        <div class="main-content">
            <!--左侧各种栏 this is left float menu-->
            <div class="index-floatmenu">
                <img src="../static/images/logo-full.svg">
            </div>
            <!--图片区 lay pictures down here-->
            <div class="index-post-main-content ">
                <div class="post-main-picture">
                    <img src="../static/images/card.jpg">
                    <div>
                        <button>❤</button>
                        <header>Author:<span>@@@@@@</span></header>
                        <p class="bookname">清明上河图</p><!--英文表达艺术作品要用斜体-->
                    </div>
                    <div class="post-commom-picture">
                        <img src="../static/images/card.jpg">
                        <img src="../static/images/card.jpg">
                        <img src="../static/images/card.jpg">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>