{% extends "template.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

    <div>
        <!--左侧各种栏 this is left float menu-->
        <div>
            <img src="ArtPress/static/images/logo-full.svg">
        </div>
        <!--图片区 lay pictures down here-->
        <div>
            <div>
                <img src="ArtPress/static/images/card.jpg">
                <header>Author:<span></span></header>
                <p></p><!--英文表达艺术作品要用斜体-->
            </div>

        </div>
    </div>
</body>
</html>