{% extends "Manager/page_templates/panel_template.html" %}

{% block title %} 我的账户 {% endblock %}
{% block bar-title %} 我的账户 {% endblock %}

{% block content %}
  <script>
      function submit() {
          loading_feedback_in();
          setTimeout(function () {
              $("#base-profile").submit()
          }, 1000);
      }
  </script>

  <div class="mdui-row">
    <div class="mdui-col-xs-12">
      <div class="mdui-card">
        <div class="mdui-tab" mdui-tab>
          <a href="#myprofile-base" class="mdui-ripple">基本资料</a>
          <a href="#account" class="mdui-ripple">账户</a>
          <a href="#security" class="mdui-ripple">安全</a>

          <a href="#myprofile-debug" class="mdui-ripple">技术信息</a>
        </div>

        <!--基本资料-->
        <div id="myprofile-base" class="mdui-p-a-2 mdui-card-content">
          <div class="mdui-row">
            <div class="mdui-col-xs-4 mdui-col-offset-xs-3">
              <form action="" method="post" id="base-profile">
                {% csrf_token %}
                {# 用于标记修改内容的标签 #}
                <input type="text" name="type" value="base" style="display:none;">

                <div class="mdui-textfield mdui-col-xs-6">
                  <label class="mdui-textfield-label">First Name</label>
                  <input class="mdui-textfield-input" type="text" name="first-name" value="{{ user.first_name }}"/>
                </div>

                <div class="mdui-textfield mdui-col-xs-6">
                  <label class="mdui-textfield-label">Last Name</label>
                  <input class="mdui-textfield-input" type="text" name="last-name" value="{{ user.last_name }}"/>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">Bio</label>
                  <textarea class="mdui-textfield-input" rows="4" maxlength="512"
                            name="bio">{{ user.profile.bio }}</textarea>
                  <div class="mdui-typo-caption-opacity">
                    简单地介绍一下你自己吧。
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">URL</label>
                  <input class="mdui-textfield-input" type="text" name="url" value="{{ user.profile.url }}"/>
                  <div class="mdui-typo-caption-opacity">
                    您的URL。这里可以是您的主页、博客等等的首页地址。
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <a class="mdui-btn mdui-btn-block mdui-color-theme" onclick="submit();">
                    提交
                  </a>
                </div>

              </form>
            </div>

            <div class="mdui-col-xs-2">
              <img src="{{ avatar_path }}" alt="avatar" class="mdui-img-rounded"
                   style="border:1px rgba(0,0,0,0.18) solid;width:calc(100% - 2px);">
              <div class="mdui-textfield">
                <a href="javascript:void(0)" class="mdui-btn mdui-center">
                  更新头像
                </a>
              </div>
            </div>
          </div>
        </div>

        <!--账户-->
        <div id="account" class="mdui-p-a-2 mdui-card-content">
          <div class="mdui-row">
            <div class="mdui-col-xs-4 mdui-col-offset-xs-4">
              <form method="post">
                {% csrf_token %}
                {# 用于标记修改内容的标签 #}
                <input type="text" name="type" value="account" style="display:none;">

                <div class="mdui-textfield mdui-col-xs-12">
                  <div class="mdui-typo-headline">
                    基本
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">ID</label>
                  <input class="mdui-textfield-input" type="text" value="{{ user.id }}" disabled>
                  <div class="mdui-typo-caption-opacity">
                    您不可以更改您的ID。
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">用户名</label>
                  <input class="mdui-textfield-input" type="text" name="username" value="{{ user }}"/>
                  <div class="mdui-typo-caption-opacity">
                    您的社交名片。
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">Email</label>
                  <input class="mdui-textfield-input" type="text" name="email" value="{{ user.email }}"/>
                  <div class="mdui-typo-caption-opacity">
                    您的邮箱地址。请放心，本邮箱地址不会显示在公共区域。
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <button class="mdui-btn mdui-btn-block mdui-color-theme">
                    提交
                  </button>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <div class="mdui-typo-headline">
                    导出账户
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <div class="mdui-typo-caption-opacity">
                    开放导出接口后，您将获得一个压缩文件URL，该URL即日起7天内有效。您可以在有效期内下载您的用户数据。
                  </div>
                  <a class="mdui-btn mdui-color-theme">
                    开放导出接口
                  </a>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <div class="mdui-typo-headline">
                    危险区
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">

                  <a class="mdui-btn mdui-btn-block mdui-color-red">
                    删除账户
                  </a>
                  <div class="mdui-typo-caption-opacity">
                    警告：删除账户后，您的一切都将消失。此操作不可逆转！
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

        <!--安全-->
        <div id="security" class="mdui-p-a-2 mdui-card-content">

          <!--更新密码模态-->
          <div class="mdui-dialog" id="change-password">
            <script>
                function CheckConfirmPassword() {
                    console.log($("#new-password").val());
                    console.log($("#confirm-password").val());

                    if ($("#new-password").val() === $("#confirm-password").val()) {
                        console.log("true");
                        $("#confirm-password-div").removeClass("mdui-textfield-invalid");
                    } else {
                        console.log("false");
                        $("#confirm-password-div").addClass("mdui-textfield-invalid");
                    }
                }

            </script>

            <div class="mdui-dialog-content">
              <div class="mdui-dialog-title">更新密码</div>
              <form method="post">
                {% csrf_token %}
                {# 用于标记修改内容的标签 #}
                <input type="text" name="type" value="account" style="display:none;">

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">旧密码</label>
                  <input class="mdui-textfield-input" type="password" name="old-password">
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <label class="mdui-textfield-label">新密码</label>
                  <input class="mdui-textfield-input" type="password" name="new-password" id="new-password"
                         pattern="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z]).*$" required>
                  <div class="mdui-typo-caption-opacity">
                    密码至少8位，且包含大小写字母
                  </div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12" id="confirm-password-div">
                  <label class="mdui-textfield-label">确认密码</label>
                  <input class="mdui-textfield-input" type="password" name="confirm-password" id="confirm-password"
                         onkeyup="CheckConfirmPassword()">
                  <div class="mdui-textfield-error">密码不匹配</div>
                </div>

                <div class="mdui-textfield mdui-col-xs-12">
                  <button class="mdui-btn mdui-color-theme mdui-btn-block">
                    提交
                  </button>
                </div>
              </form>
            </div>
            <div class="mdui-dialog-actions">
              <button class="mdui-btn mdui-ripple">取消</button>
            </div>
          </div>

          <div class="mdui-row">
            <div class="mdui-col-xs-4 mdui-col-offset-xs-4">
              <div class="mdui-textfield mdui-col-xs-12">
                <label class="mdui-textfield-label">密码</label>
                <input type="password" name="fa-password" style="display: none;"> <!--防止浏览器自动填充-->
                <input class="mdui-textfield-input" type="password" value="TooYoung¯\_(ツ)_/¯" name="fa-password"
                       style="pointer-events:none;opacity:0.3;">
                <div class="mdui-typo-caption-opacity">
                  更新密码后，您可能需要重新登入。
                </div>
                <p>
                  <a href="javascript:void(0)" class="mdui-btn mdui-color-theme mdui-btn-block"
                     mdui-dialog="{target: '#change-password'}">
                    更新密码
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!--技术信息-->
        <div id="myprofile-debug" class="mdui-p-a-2 mdui-card-content">
          <div class="mdui-row">
            <div class="mdui-col-xs-2 ">
              <img src="{{ avatar_path }}" alt="avatar" class="mdui-img-rounded"
                   style="border:1px rgba(0,0,0,0.18) solid;width:calc(100% - 2px);">
            </div>

            <div class="mdui-col-xs-10">
              <div class="mdui-typo">
                <h1>账户技术信息</h1>
                <p>
                  UID：{{ user.id }} <br>
                  用户名：{{ user }} <br>
                  邮箱：{{ user.email }} (此邮箱只能用于登录用，不会显示在公共区域)<br>
                  昵称：{{ user.profile.nickname }} <br>
                  First Name：{{ user.first_name }} <br>
                  Last Name：{{ user.last_name }} <br>
                  注册日期：{{ user.date_joined }} <br>
                  上次登录：{{ user.last_login }} <br>
                  密码：呵呵 <br>
                  url：{{ user.profile.url }} <br>
                  bio：{{ user.profile.bio }} <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
