{% extends "Manager/page_templates/panel_template.html" %}

{% block title %} 主题 {% endblock %}
{% block bar-title %} 主题 {% endblock %}

{% block content %}
<div class="mdui-row">
  <div class="mdui-col-xs-12">
    <div class="mdui-card">
      <div class="mdui-card-media">
        <img src="/static/images/card.jpg"/>
        <div class="mdui-card-media-covered">
          <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">欢迎使用ArtPress！</div>
            <div class="mdui-card-primary-subtitle">Subtitle</div>
          </div>
          <div class="mdui-card-actions">
            <button class="mdui-btn mdui-ripple mdui-ripple-white">action 1</button>
            <button class="mdui-btn mdui-ripple mdui-ripple-white">action 2</button>
            <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">close</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
