<head>
  <meta http-equiv='Content-type' content='text/htm'>
  <meta charset="UTF-8">
  <title>ArtPress Panel - {% block title %} TITLE {% endblock %}</title>

  <link rel="stylesheet" href="/static/manager/css/mdui.min.css">
  <link rel="stylesheet" href="/static/manager/css/panel.css">

  <script src="/static/manager/js/jquery.min.js"></script>
  <script src="/static/manager/js/mdui.min.js"></script>
  <script src="/static/manager/js/panel.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<script>
    var inst = new mdui.Drawer("#drawer");
</script>

<body class="mdui-theme-primary-blue-grey mdui-theme-accent-green mdui-drawer-body-left">


<!--顶部条-->
<div class="mdui-appbar mdui-color-theme-900 mdui-shadow-0">
  <div class="mdui-toolbar">
    <a href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#drawer'}">
      <i class="mdui-icon material-icons">menu</i>
    </a>
    <a href="/ap-manager/home" class="mdui-typo-headline">
      {% block bar-title %} TITLE {% endblock %}
    </a>

    <div class="mdui-toolbar-spacer"></div>

    <p>
      {{ user }}
    </p>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '搜索', delay: 200}">
      <i class="mdui-icon material-icons">search</i>
    </a>
    <a href="/ap-manager/user/out" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '登出', delay: 200}">
      <i class="mdui-icon material-icons">directions_run</i>
    </a>
  </div>
</div>

<!--左侧菜单-->
<div class="mdui-drawer mdui-color-theme-700" id="drawer">
  <div class="mdui-ast" mdui-collapse="{accordion: true}">

    <a href="/" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">arrow_back</i>
      <div class="mdui-list-item-content">返回站点</div>
    </a>

    <a href="/ap-manager/home/" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">view_carousel</i>
      <div class="mdui-list-item-content">媒体库</div>
    </a>

    <a href="/ap-manager/home/" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
      <div class="mdui-list-item-content">控制面板</div>
    </a>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
        <div class="mdui-list-item-content">账户</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-ast">
        <a href="/ap-manager/user/me" class="mdui-list-item mdui-ripple">我</a>
        <a href="/ap-manager/user/manager" class="mdui-list-item mdui-ripple">管理</a>
        <a href="/ap-manager/user/group" class="mdui-list-item mdui-ripple">权限组</a>
      </div>
    </div>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">style</i>
        <div class="mdui-list-item-content">样式与插件</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-ast">
        <a href="/ap-manager/plugs/templates" class="mdui-list-item mdui-ripple">主题</a>
        <a href="/ap-manager/plugs/plugins" class="mdui-list-item mdui-ripple">插件</a>
        <a href="/ap-manager/ap-cloud" class="mdui-list-item mdui-ripple">获得插件与主题</a>
      </div>
    </div>

    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">touch_app</i>
        <div class="mdui-list-item-content">站点设置</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-ast">
        <a href="/ap-manager/set/common" class="mdui-list-item mdui-ripple">通用</a>
        <a href="/ap-manager/set/site" class="mdui-list-item mdui-ripple">站点</a>
        <a href="/ap-manager/set/post" class="mdui-list-item mdui-ripple">Post</a>
        <a href="/ap-manager/set/safety" class="mdui-list-item mdui-ripple">安全</a>
      </div>
    </div>

    <a href="/ap-manager/ap-cloud" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">cloud</i>
      <div class="mdui-list-item-content">连接Artpress云</div>
    </a>

    <a href="/ap-manager/set/" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons">help</i>
      <div class="mdui-list-item-content">帮助</div>
    </a>

  </div>

</div>


<div class="mdui-container">
  <div style="padding: 20px 0">
    {% block content %}
    <p>base</p>
    {% endblock %}
  </div>
</div>
</body>
</html>