body {
    margin: 0;
}
/*部分通用文字属性*/
.bookname{
    font-style: italic;
}

/* main content内容区域布局，用于给页面内容区域一个容器 */
.main-content {
    width: 1200px;
    /* 下面两行代码是一个很方便让div居中的方法，本本记好哦 */
    margin:0 auto;
    /*border: 1px solid #000000;*/

}


/*图片的样式表*/
/*.index-common-content  img{*/
/*    border: 10px solid black;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.hightlight-img{*/
/*    width: 45%;*/
/*    float: left;*/
/*    padding: 3px;*/

/*}*/
/*.right-img{*/
/*    width: 45%;*/
/*    margin-left: 3%;*/
/*    box-shadow:  20px 20px 20px 20px black   inset;*/
/*    padding: 3px;*/

/*}*/


/* 首页布局 */
.floatsearch {
    width: 30%;
    height: 300px;
    background: #39c5bb;
    position: absolute;
    top: -200px;
    left: 35%;
    display: none;
}

.floatsearch:hover .left-floatmenu-item-x {
    top: 0px;
}

/*.left-menubar {*/
/*height: 100%;*/
/*width: 200px;*/
/*}*/

/*各类工具栏*/

.index-floatmenu {
    width: 300px;
    position: fixed;
    top: 50px;

}


ul {
    list-style: none;

}

#search {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

.left-floatmenu-item{
    width: 200px;
    height: 30px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.2s;
    font-size: 25px;
}
.left-floatmenu ul li{
    width: 180px;
    height: 22px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: -40px;
    padding-bottom: 10px;
    transition: background-color 0.2s;
    font-size: 17px;
}
a{
    text-decoration: none;
    color:black;
}
.left-floatmenu-item:hover {
    background: #39c5bb;
}
.left-floatmenu ul li:hover{
    background: #39c5bb;
}

/*右工具栏，暂未定*/
.right-floatmenu{
    display: none;
}


/* 首页的一般内容区，给菜单栏留了白 */
.index-common-content {
    padding-left: 310px;
    padding-top: 50px;
}
/*post的主内容区*/
.index-post-main-content{
    padding-left: 310px;
    padding-top: 180px;
}



.image-border {
    width: 40%;
    border: solid 8px #110f0e;
    padding: 10px;
    margin: 2.5%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
}
/*post的主图及介绍文字*/
.post-main-picture img{
    width: 1000px;
    margin-left: -200px;
}
.post-main-picture div{
    width: 1000px;
    margin-left: -200px;
}
.post-main-picture div header,.post-main-picture div p{
    font-size: 25px;
    text-align: center;
}
.post-main-picture div button{
    list-style: none;
    border: 1px solid black;
    width: 50px;
    height: 30px;
    margin-left: 90%;
    margin-top: 10px;
}
.post-commom-picture{

}