* { /* 建议：千万不要使用*通配符*来使页面页边距消失，建议使用body */
    margin: 0;
    padding: 0;
}

/*  建议这样，如果你接受建议，请取消注释。
body {
    margin: 0;
    padding: 0;
}
*/

/* main content内容区域布局，用于给页面内容区域一个容器 */
.main-content {
    width: 1200px;
    /* 下面两行代码是一个很方便让div居中的方法，本本记好哦 */
    margin-right: 10%;
    margin-left: 10%;

    /*border: 1px solid #000000;*/

}


/*图片的样式表*/
.index-common-content  img{
    border: 10px solid black;
}

.hightlight-img{
    width: 45%;
    float: left;
    padding: 3px; 
}
.right-img{
    width: 45%;
    margin-left: 3%;
    box-shadow:  20px 20px 20px 20px black   inset;
    padding: 3px; 
}


/* 首页布局 */
.floatsearch{
    width: 30%;
    height:300px;
    background: #39c5bb;
    position: absolute;
    top: -200px;
    left: 35%;
}
.floatsearch:hover .left-floatmenu-item-x{
    top: 0px;
}
/*
一个利于代码管理的小建议：
如果一个class是专门为某一页面的某一元件写的，那么建议你用这样命名：页面名称-类名
就比如首页上的浮动菜单栏：index-floatmenu

因为你写left-menubar的命名方式不是很理想，我帮你注释掉重新写了:-)

对了，一定要记得写注释呀
*/

/*.left-menubar {*/
/*height: 100%;*/
/*width: 200px;*/
/*}*/

/*各类工具栏*/

.index-floatmenu {
    width: 300px;
    position: fixed;
    top: 100px;
}

ul{
    list-style: none;
    
}

#search{
    width: 200px;
    height: 50px;
    font-size: 30px;
}

.left-floatmenu-item{
    width: 200px;
    height: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.2s;
    font-size: 25px;
}
.left-floatmenu-item:hover{
    background: #39c5bb;
}

.index-floatmenu ul li a{
    text-decoration: none;
}

/* 首页的一般内容区，给菜单栏留了白 */
.index-common-content {
    padding-left: 310px;
    padding-top: 100px;
}
